<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title>PROYECTO FINAL</title>
<script type="text/javascript" th:src="@{/script/jquery/jquery.js}"></script>
<script type="text/javascript"
	th:src="@{/script/bootstrap/bootstrap.bundle.js}"></script>


<script type="text/javascript" th:src="@{/script/jsweb/layout.js}"></script>


<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}">
</link>
</head>

<body>
	<div th:fragment="titulo" class="alert alert-danger" role="alert">
		<h1 class="text-center">"RESTAURANTE POLLERIA EATSFREE"</h1>
	</div>

	<nav th:fragment="menuvx"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/img/loginpollo2.jpg" alt="jacket" width="50" height="50">
		<a class="navbar-brand">CLIENTE :</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/carrito}">CARRITO</a></li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown1">

						<a class="dropdown-item" id="acion1">INICIAR SESION</a> <a
							class="dropdown-item" id="acion2" th:href="@{/registrarCliente}">REGISTRARSE</a>
						<a class="dropdown-item" id="acion3" data-toggle="modal"
							data-target="#exampleModal">MIS DATOS</a>
					</div></li>
			</ul>
		</div>
	</nav>

<nav th:fragment="menua"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/img/loginpollo2.jpg" alt="jacket" width="50" height="50">
		<a class="navbar-brand"   id="roles"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> MANTENIMIENTO </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a id="productos" class="dropdown-item" th:href="@{/listarproducto}">PRODUCTOS</a>
						<a id="empleados" class="dropdown-item" th:href="@{/listarempleado}">EMPLEADOS</a>
						<a id="clientes" class="dropdown-item" th:href="@{/listaclientes}">CLIENTES</a>
						<a id="pedidos" class="dropdown-item" th:href="@{/listarpedido}">PEDIDOS</a> 
						<a id="categorias" class="dropdown-item" th:href="@{/listarcategorias}">CATEGORIAS</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown2">

						<a class="dropdown-item" id="acion4">CERRAR SESIÓN</a>
					</div></li>
					<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="" id="navbarDropdown3"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">PEDIDOS</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown2">

						<a class="dropdown-item" th:href="@{/listarpedido}">IR</a>
					</div></li>
					
			</ul>
		</div>
	</nav>

	
	<nav th:fragment="menue"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<img src="/img/loginpollo2.jpg" alt="jacket" width="50" height="50">
		<a class="navbar-brand"  id="roles"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> MANTENIMIENTO </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/listarproducto}">PRODUCTOS</a>
						<a class="dropdown-item" th:href="@{/listaclientes}">CLIENTES</a>
						<a class="dropdown-item" th:href="@{/listarpedido}">PEDIDOS</a>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown2"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown2">

						<a class="dropdown-item" id="acion4">CERRAR SESIÓN</a>
					</div></li>
			</ul>
		</div>
	</nav>


	<div class="modal-dialog" th:fragment="datoscliente">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">ACTUALIZAR
					CARRITO</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<!--form th:action="registrarpedido" method="post"-->
					<div class="form-group">
						<label for="txtnombre">NOMBRE:</label> <input type="text"
							class="form-control" id="txtnombre" readonly>
					</div>

					<div class="form-group">
						<label for="txtdescripcion">DESCRIPCION PRODUCTO: </label> <input
							type="text" class="form-control" id="txtdescripcion" readonly>
					</div>

					<div class="form-group">
						<label for="txtprecio">PRECIO:</label> <input type="number"
							class="form-control" id="txtprecio" readonly>
					</div>
					<div class="form-group">
						<label for="txtprecio">CANTIDAD:</label> <input type="number"
							class="form-control" id="txtcantidad"> <span
							id="errorcantidad" class="text-danger"></span>
					</div>

					<input type="hidden" id="hddcodproducto" value="0" />
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary"
					data-dismiss="modal">CERRAR</button>
				<button type="button" class="btn btn-outline-warning"
					id="btnagregarcarrito">MODIFICAR</button>
			</div>
		</div>
	</div>


</body>

</html>