<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript"
	th:src="@{/script/jsweb/producto/frmListarProducto.js}"></script>

<body>
	<div th:replace="layout::titulo"></div>
	<nav th:replace="layout::menua"></nav>
	<h2 class="text-center">MANTENIMIENTO DE PRODUCTOS</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm-30">
				<hr />
				<div class="row g-3">
					<label>Buscar Producto:</label>
					<div class="col-auto">
						<select class="form-control" id="cbobuscarproducto">
							<option value="0">Seleccionar</option>
							<option value="1">Todos</option>
							<option value="2">Por Código</option>
						</select>
					</div>
					<div class="col-auto">
						<input type="number" class="form-control" id="txtbuscarproducto"
							placeholder="Ejm:12345678"> <span
							id="errorbuscarproducto" class="text-danger"></span>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary mb-3"
							id="btnbuscarproducto">Buscar</button>
					</div>

					<div class="col-sm" align="right">
						<button type="button" id="btnagregarproducto"
							class="btn btn-outline-success">Registrar Producto</button>
					</div>
				</div>
				<hr />

				<table id="tblproducto" class="table table-hover table-bordered"
					style="width: 100%">
					<thead class="table-secondary">
						<tr>
							<td scope="col">CODIGO</td>
							<td scope="col">NOMBRE DEL PLATO</td>
							<td scope="col">DESCRIPCION</td>
							<td scope="col">CATEGORIA</td>
							<td scope="col">PRECIO</td>
							<td scope="col">ACTUALIZAR</td>
							<td scope="col">ELIMINAR</td>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>

	<!-- Modal agregar y actualizar -->
	
	<div class="modal fade" id="modalproducto" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<div class="text-center">
							<span class="text-danger" th:text="${mensaje}"></span>
						</div>
					<h5 class="modal-title" id="exampleModalLabel">REGISTRAR
						PRODUCTO</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				<form th:action="@{/registrarProducto2}" th:object="${nuevoproducto}"
					method="post" enctype="multipart/form-data">
					
					<div class="form-group">
						<label for="txtnombre">INGRESE NOMBRE COMBO :</label> <input
							type="text" class="form-control" th:field="*{nombre}" id="txtnombre"><span
							id="errornombre" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="txtdescripcion">INGRESE DESCRIPCION PRODUCTO :</label>
						<input type="text" class="form-control"  th:field="*{descripcion}" id="txtdescripcion"><span
							id="errordescripcion" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="cbocategoria">SELECCIONE CATEGORIA:</label> <select
							class="form-control"  th:field="*{codcategoria}" id="cbocategoria">
						</select> <span id="errorcategoria" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="txtprecio">INGRESE PRECIO:</label> <input
							type="number" class="form-control"  th:field="*{precio}" id="txtprecio" ><span
							id="errorprecio" class="text-danger" ></span>
					</div>
					
					<div class="form-group">
						<label for="imagen">IMAGEN:</label> <input
							type="file" name="file" class="form-control"  id="imagen" >
					</div>
					<input type="hidden" id="hddcodproducto" th:field="*{codproducto}">
				
				<div >
				<button type="submit" class="btn btn-outline-success"
						id="btnregistarproducto">GUARDAR</button>
					<button type="button" class="btn btn-outline-secondary" id="btnvalidar"
						>Validar datos</button>
					
				</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<!--div class="modal fade" id="modalproducto" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">REGISTRAR
						PRODUCTO</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="txtnombre">INGRESE NOMBRE COMBO :</label> <input
							type="text" class="form-control" id="txtnombre"><span
							id="errornombre" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="txtdescripcion">INGRESE DESCRIPCION PRODUCTO :</label>
						<input type="text" class="form-control" id="txtdescripcion"><span
							id="errordescripcion" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="cbocategoria">SELECCIONE CATEGORIA:</label> <select
							class="form-control" id="cbocategoria">
						</select> <span id="errorcategoria" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label for="txtprecio">INGRESE PRECIO:</label> <input
							type="number" class="form-control" id="txtprecio"><span
							id="errorprecio" class="text-danger"></span>
					</div>
					<div class="form-group" id="contenedor">

						<label>INGRESE IMAGEN:</label>
						<div class="card">

							<img id="img-preview">
							<button type="button" class="btn btn-outline-info"
								id="btncambiarImagen">Ocultar vista previa</button>
						</div>
						<div class="card">
							<input type="file" class="form-control-file" id="controlimagen">
						</div>
					</div>
					<input type="hidden" id="hddcodproducto" value="0" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary"
						data-dismiss="modal">CERRAR</button>
					<button type="button" class="btn btn-outline-success"
						id="btnregistarproducto">GUARDAR</button>
				</div>
			</div>
		</div>
	</div-->

	<!-- Modal eliminar producto -->
	<div class="modal fade" id="modaleliminarproducto" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">ELIMINAR
						PRODUCTO</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label> <input type="hidden" value="0"
						id="hddcodproductoeliminar">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary"
						data-dismiss="modal">CERRAR</button>
					<button type="button" class="btn btn-outline-danger"
						id="btneliminarproducto">ELIMINAR</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>