<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div th:replace="layout::titulo"></div>
	
	<div class="alert alert-warning" role="alert">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<img src="img/loginpollo2.jpg" alt="jacket" width="350"
						height="500">
				</div>
				<div class="col-md">
					<br>
					<div class="card">
						<div class="card text-center">
							<div class="card-header">
								<h2>INGRESAR</h2>
							</div>
						</div>
						<div class="card-body">
							<div class="alert alert-danger" role="alert">
								<span th:text="${mensaje}"></span>
							</div>
							<form th:action="@{/login}" method="post" th:object="${usuario}">
								<div class="form-group">
									<label for="txtemail">USUARIO</label> <input type="text"
										placeholder="Ingresar usuario" class="form-control"
										th:field="*{email}" id="txtemail">
								</div>
								<div class="form-group">
									<label for="txtcontraseña">CONTRASEÑA</label> <input
										type="password" placeholder="Ingresar contraseña"
										class="form-control" th:field="*{password}" id="txtcontraseña">
								</div>

								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input"
										id="exampleCheck1" value="Emp" th:field="*{rol}"> <label
										class="form-check-label" for="exampleCheck1">Soy
										empleado</label>
								</div>

								<input type="hidden" th:field="*{codusuario}" id="txtcodusuario"
									value="0" />
								<button type="submit"
									class="btn btn-outline-success btn-block btnvalidar">INGRESAR</button>
								<br> <a th:href="@{registrarCliente}"
									class="btn btn-outline-primary btn-block">REGISTRATE
									AQUI!!!</a> <br> <a th:href="@{/Menus/menu}"  class="btn btn-dark btn-lg btn-block">VER CARTA COMO INVITADO</a>
							</form>

						</div>
					</div>
				</div>
				<div class="col">
					<img src="img/loginpollo1.jpg" alt="jacket" width="350"
						height="500">
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout::footerRestaurant"></footer>
</body>
</html>