<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::head">
	<meta charset="UTF-8">
	<title></title>
</head>

<body>
	<div th:replace="layout::titulo"></div>
	<div class="alert alert-warning" role="alert">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<img src="img/loginpollo2.jpg" alt="jacket" width="360" height="600">
				</div>
				<div class="col-sm">
					<br>
					<div class="card" style="width: 20rem;">
						<img src="img/venta.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h2 class="card-title text-center">VENTA REGISTRADA</h2>
							<h5 class="card-text text-center">Su Pedido esta en Camino a su Domicilio</h5>							
						</div>
					</div>
					
				</div>
				<div class="col-sm">
						<img src="img/loginpollo1.jpg" alt="jacket" width="370" height="600">
				</div>
			</div>
		</div>
	</div>
</body>

</html>